.vscode
._*
*.DS_STORE
*.pdf
*.csv
*.pptx
*.png
*.txt
*.pkl
*.log
*.pyc
*.o
*.code-workspace
*.tar.bz2

*.orig
*.rej
*.o
*.pyc
*.pyo
*.cwnd
*.dat
*.log
*.mob
*.pcap
*.plt
*.routes
*.tr
*.xml
[D|U]l[A-Z][a-z]*Stats.txt

\#*#
~*

ms_print.*
massif.*
coverity
TAGS

.lock-waf_*_build
.waf*

ns-3.34/build/

version.cache

evaluation/dynamic_network/traces
*.pitree-trace
*.result
tmp.sh
*.tmp
*.cdf

!detailed_ae/*/*.pdf
!detailed_ae/*/*.txt
!getting_started/expected_output.tr
!requirements.txt