.vscode
._*
*.DS_STORE
*.pdf
*.csv
*.pptx
*.png
*.txt
*.pkl
*.log
*.pyc
*.o
*.code-workspace
*.tar.bz2

*.orig
*.rej
*.o
*.pyc
*.pyo
*.cwnd
*.dat
*.log
*.mob
*.pcap
*.plt
*.routes
*.tr
*.xml
[D|U]l[A-Z][a-z]*Stats.txt

\#*#
~*

ms_print.*
massif.*
coverity
TAGS

.lock-waf_*_build
.waf*

ns-3.34/build/

version.cache

evaluation/dynamic_network/traces
*.pitree-trace
*.result
tmp.sh
*.tmp
*.cdf

!ns-3.34/results/*/*.txt
!ns-3.34/results/*/*.png
!ns-3.34/results/*/*/*.png
!ns-3.34/results/march24_smooth_rapid_prototype/4_12_iter*/10*5*/1000000_111_0_204_1_*/*_*/12_2/1_5000/1/*.png
!ns-3.34/results/march24_smooth_rapid_prototype/4_12_iter*/10*5*/1000000_111_0_204_1_*/*_*/12_2/1_5000/1/*.txt
!ns-3.34/results/march24_weighted_average_individual**/*.png
!multiq**/*.png
!multiq**/*.txt
!singleq/**/*.png
!singleq/**/*.txt
!buffer_frugality/**/*.png
!buffer_frugality/**/*.txt
!burst_absorption/**/*.png
!buffer_absorption/**/*.txt
!evaluation**/*.png
!evaluation**/*.pdf
!drop_rate_threshold**/*.png
!buffer_pressure**/*.png
!auxiliary**/*.pdf

ns-3.34/results/march24_special_adaptive/all_long_random_*_cmsa_qlen_timeseries.png
ns-3.34/results/march24_special_adaptive/*.pickle
ns-3.34/results/march24_basic_drop/*.pickle
ns-3.34/results/march24_probe_adaptive/*/*.pickle
ns-3.34/results/march24_probe_droprate_threshold/*.pickle
ns-3.34/results/march24_probe_monitor_interval/*.pickle
ns-3.34/results/march24_burst_first/*.pickle
smoothing/*.pickle

experiments/design_*/*.pickle
experiments/codel/*.pickle
experiments/pie/*.pickle

experiments/nsdi26sp/*/*.pickle
